& {
  @include section;
  overflow: hidden;
  position: relative;
}

.header-bg {
  background-image: url('../images/header-bg.jpg');
  background-size: cover;
  content: '';
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
  transform: translateY(0);
  transition: transform .05s linear 0s;
}

.inner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
}

h1 {
  font: normal 110px $heading-font-family;
  margin: 0;
  transition: font-size 0.1s linear 0s;

  b {
    color: $light-color;
    font-weight: normal;
  }
}

nav {
  display: flex;
  margin-bottom: $grid * 6;
  padding-left: $grid * 2 / 3;

  a {
    box-sizing: border-box;
    color: $light-color;
    cursor: pointer;
    font-size: 20px;
    position: relative;
    text-decoration: none;
    
    &:not(:last-of-type) {
      margin-right: $grid * 2;
    }

    &::after {
      background: $accent-color;
      content: '';
      display: block;
      height: $grid / 4;
      position: absolute;
      transform: scaleX(0);
      transition: transform .2s ease 0s;
      width: 100%;
    }

    &:hover {
      color: $lighter-color;

      &::after {
        transform: scaleX(1);
      }
    }
  }
}

@media (min-width: 720px)  {
  h1 {
    font-size: 160px;
  }

  nav {
    padding-left: $grid;

    a {
      font-size: 24px;
      
      &:not(:last-of-type) {
        margin-right: $grid * 3;
      }
    }
  }
}

@media (min-width: 840px)  {
  h1 {
    font-size: 200px;
  }

  nav {
    padding-left: $grid * 3 / 2;

    a {
      font-size: 32px;

      &::after {
        height: $grid / 2;
      }
    }
  }
}

@media (min-width: 960px) {
  h1 {
    font-size: 240px;
  }
}

@media (min-width: 1200px) {
  h1 {
    font-size: 280px;
  }
}
