& {
  align-items: flex-end;
  bottom: $grid * 4;
  display: flex;
  flex-direction: column;
  position: fixed;
  right: 0;
  transition: transform .2s ease 0s;
}

&.hidden {
  transform: translateX(100%);
}

a {
  text-decoration: none;
  background: rgba(darken($darker-color, 2%), .8);
  color: $light-color;
  padding: $grid / 2 $grid * 2 $grid / 2 $grid;
  margin-bottom: $grid / 2;
  position: relative;
  transform: translateX($grid);
  transition: transform .1s ease 0s, background-color .1s ease 0s;

  &:hover {
    background: $accent-color;
    color: $lighter-color;
    transform: translateX(0);
  }
}
