& {
  max-height: auto !important;
}

p {
  background: rgba($dark-color, .8);
  border-radius: $grid /2;
  padding: $grid;

}

.photo {
  background-image: url('../images/photo.png');
  background-size: auto 100%;
  background-repeat: no-repeat;
  background-position: center right;
  border-radius: $grid / 2;
  height: 100%;
  width: 100%;
  position: absolute;
  opacity: 1;
  top: 0;
  right: 0;
}
