$max-about-me-width: $grid * 43;

p {
  line-height: 1.8;
}

nav h1 {
  font-size: $nav-font-size;
  margin: 0;
  margin-right: auto;
  padding: 0;
}

main {
  display: grid;
  flex-grow: 0;
  grid-gap: $grid * 6;
  grid-template-columns: $max-about-me-width auto;
}

.about-me {
  max-width: $max-about-me-width;

  a::after {
    bottom: 0;
  }
}

.about-image {
  background-image: url('../../images/about.png');
  background-position: center center;
  background-size: cover;
  border-radius: $grid;
  height: 100%;
  max-width: $max-about-me-width;
  min-height: $grid * 30;
  width: 100%;
}

@media (max-width: 680px) {
  nav h1 span {
    display: none;
  }

  main {
    grid-template-columns: auto;
    grid-template-rows: auto auto;
    max-width: $max-about-me-width + $grid * 12;
  }

  .about-me {
    grid-row: 2;
  }
}
