main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#logo {
  @import 'components/logo';
  max-width: $grid * 80;
  width: 100%;
}

.social-media {
  color: $secondary-fg-color;
  display: flex;
  font-size: $home-font-size;
  padding-bottom: $grid * 3;

  a {
    margin: 0 $grid;

    &:hover svg,
    &:active svg{
      fill: $accent-color;
    }
  }

  svg {
    $size: $grid * 6;
    display: none;
    fill: $link-fg-color;
    height: $size;
    width: $size;
    transition: fill 0.1s linear 0s;
  }
}
@media (max-width: $grid * 84) {
  .social-media a::after {
    display: none;
  }

  .social-media svg {
    display: block;
  }

  .social-media span {
    display: none;
  }
}
