#envelope {
  position: fixed;
  top: @envelope-vertical-margin + @envelope-flap-height;
  background: @envelope-bg-color;
  width: 80%;
  max-width: @max-width;
  height: ~"calc(100% - @{envelope-vertical-margin} * 2 - @{envelope-flap-height})";
  min-height: @envelope-flap-height * 1.2;

}

#envelope-flap {
  position: absolute;
  perspective-origin: top;
  width: 100%;
  height: @envelope-flap-height;

  svg {
    display: block;
    position: absolute;
    top: 0px;
    left: 0px;
    transform-origin: center top;
    transform: rotateX(180deg);
    width: 100%;
    height: 100%;

    polygon {
      fill: darken(@envelope-bg-color, 10%);
    }
  }
}

#envelope-liner {
  position: absolute;
  top: -@envelope-flap-height;
  background: fade(red, 20%);
  width: 100%;
  height: @envelope-flap-height * 2;
}