#envelope {
  position: fixed;
  bottom: 0px;
  left: 50%;
  width: ~"calc(100% - @{side-padding})";
  max-width: @max-width;
  height: @envelope-height;
}

#envelope-details {
  position: absolute;
  top: 0px;
  left: -50%;
  border: @envelope-height/2 @envelope-bg-color solid;
  border-left-color: darken(@envelope-bg-color, 2%);
  border-top-color: darken(@envelope-bg-color, 10%);
  width: 0px;
  height: 0px;
}

#envelope-flap {
  position: absolute;
  left: -50%;
  perspective: 1000;
  width: 100%;

  #envelope-flap-outside {
    position: absolute;
    top: 0px;
    border: @envelope-height/2 transparent solid;
    border-top-color: lighten(@envelope-bg-color, 2%);
    transform-origin: top center;
    transform-style: preserve-3d;
    width: 0px;
    height: 0px;
  }

  #envelope-flap-inside {
    position: absolute;
    top: -@envelope-height;
    border: @envelope-height/2 transparent solid;
    border-bottom-color: darken(@envelope-bg-color, 10%);
    transform-origin: bottom center;
    transform-style: preserve-3d;
    transform: rotateX(180deg);
    backface-visibility: hidden;
    width: 0px;
    height: 0px;
  }

}