@import 'const/colors';
@import 'const/dimensions';
@import 'const/fonts';

html,
body {
  background: $dark-color;
  border: 0;
  color: $light-color;
  font: 18px $body-font-family;
  height: 100%;
  margin: 0;
  padding: 0;
  width: 100%;
}

header {
  @import 'components/header';
}

section {
  @import 'components/section';
}

#portfolio {
  @import 'views/portfolio';
}

footer {
  @import 'components/footer';
}

#side-nav {
  @import 'components/side-nav';
}
