& {
  align-items: center;
  display: flex;
  min-height: 100vh;
  position: relative;
  width: 100%;
}

&::before,
&::after {
  border-bottom-width: 0;
  content: '';
  display: block;
  height: 0;
  position: absolute;
  top: 0;
  width: 0;
}

&::before {
  border: $section-arrow-height / 2 transparent solid;
  border-top-color: $darker-color;
  left: calc(50% - #{$section-arrow-height / 2});
}

&::after {
  border: $section-arrow-height / 4 transparent solid;
  border-top-color: $dark-color;
  left: calc(50% - #{$section-arrow-height / 4});
  top: -$grid;
}

&:nth-of-type(2n + 1) {
  background: $darker-color;

  &::before {
    border-top-color: $dark-color;
  }

  &::after {
    border-top-color: $darker-color;
  }
}

.inner {
  box-sizing: border-box;
  margin: 0 auto;
  max-width: $max-width;
  padding: $side-padding;
  width: 100%;
}

h2 {
  font: normal 4em $header-font-family;
  margin: 0 0 $grid * 3;
  opacity: $medium-opacity;
  text-transform: uppercase;
}

p {
  line-height: 1.6;
}

a {
  color: $accent-color;
  text-decoration: none;

  &:hover,
  &:active {
    color: lighten($accent-color, 10%);
  }
}
