html,
body {
  background: #273244;
  border: 0;
  color: #f4f7fc;
  font: 18px "Raleway", sans-serif;
  height: 100%;
  margin: 0;
  padding: 0;
  width: 100%; }

header {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  height: calc(100vh - 48px);
  justify-content: center;
  padding: 48px;
  width: 100%; }
header h1 {
  font: normal 20em "Pathway Gothic One", sans-serif;
  line-height: 1;
  margin: 0;
  text-transform: uppercase;
  transition: font-size 0.1s linear 0s;
  white-space: nowrap; }
  header h1 b {
    font-weight: normal;
    opacity: 0.5; }
header nav {
  display: flex;
  margin-bottom: 48px;
  padding-left: 16px; }
header a {
  color: #f4f7fc;
  font-size: 2.5em;
  font-weight: 500;
  opacity: 0.5;
  position: relative;
  text-decoration: none;
  text-transform: lowercase;
  transition: opacity 0.1s linear 0s; }
  header a::before {
    background: #cf9e00;
    bottom: 0;
    content: '';
    display: block;
    height: 4px;
    left: 0;
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    transform-origin: center;
    transition: transform 0.1s linear 0s; }
  header a:not(:last-of-type) {
    margin-right: 32px; }
  header a:hover {
    opacity: 1; }
    header a:hover::before {
      transform: scaleX(1); }
@media screen and (max-width: 1280px) {
  header h1 {
    font-size: 16em; }
  header nav {
    padding-left: 8px; } }
@media screen and (max-width: 1000px) {
  header h1 {
    font-size: 13em; }
  header a {
    font-size: 2em; }
    header a:not(:last-of-type) {
      margin-right: 16px; } }
@media screen and (max-width: 880px) {
  header h1 {
    font-size: 10em; }
  header nav {
    padding-left: 4px; }
  header a {
    font-size: 1.5em; } }
@media screen and (max-width: 640px) {
  header h1 {
    font-size: 6.5em; }
  header a {
    font-size: 1em; } }

section {
  align-items: center;
  display: flex;
  min-height: 100vh;
  position: relative;
  width: 100%; }
section::before, section::after {
  border-bottom-width: 0;
  content: '';
  display: block;
  height: 0;
  position: absolute;
  top: 0;
  width: 0; }
section::before {
  border: 24px transparent solid;
  border-top-color: #1c2532;
  left: calc(50% - 24px); }
section::after {
  border: 12px transparent solid;
  border-top-color: #273244;
  left: calc(50% - 12px);
  top: -8px; }
section:nth-of-type(2n + 1) {
  background: #1c2532; }
  section:nth-of-type(2n + 1)::before {
    border-top-color: #273244; }
  section:nth-of-type(2n + 1)::after {
    border-top-color: #1c2532; }
section .inner {
  box-sizing: border-box;
  margin: 0 auto;
  max-width: 800px;
  padding: 48px;
  width: 100%; }
section h2 {
  font: normal 4em "Pathway Gothic One", sans-serif;
  margin: 0;
  opacity: 0.5;
  text-transform: uppercase; }

footer {
  height: 48px; }

#side-nav {
  align-items: flex-end;
  bottom: 48px;
  display: flex;
  flex-direction: column;
  opacity: 0.5;
  position: fixed;
  right: 0;
  transform: translateX(0);
  transition: opacity 0.1s linear 0s, transform 0.1s linear 0s; }
  #side-nav.hidden {
    transform: translateX(100%); }
  #side-nav:hover {
    opacity: 1; }
#side-nav a {
  color: #f4f7fc;
  font-size: 1.2em;
  opacity: 0.5;
  padding: 4px 8px;
  position: relative;
  text-decoration: none;
  text-transform: lowercase;
  transition: opacity 0.1s linear 0s; }
  #side-nav a::before {
    background: #cf9e00;
    content: '';
    display: block;
    height: 100%;
    position: absolute;
    right: 0;
    top: 0;
    transition: transform 0.1s linear 0s;
    transform: scaleX(0);
    transform-origin: right;
    width: 100%;
    z-index: -1; }
  #side-nav a:hover {
    opacity: 1; }
    #side-nav a:hover::before {
      transform: scaleX(1); }

/*# sourceMappingURL=styles.css.map */
