.inner {
  align-items: flex-start;
  display: grid;
  grid-template-columns: min-content auto;
}

.about-photo {
  grid-row-end: span 2;
  background: $dark-color;
  width: $grid * 30;
  height: $grid * 30;
  margin-right: $grid * 6;
}

@media (max-width: 760px) {
  .inner {
    grid-template-columns: auto;
  }

  .about-photo {
    display: none;
  }
}