$thumbnail-size: $grid * 30;

.wrapper {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax($thumbnail-size, $thumbnail-size));
  grid-gap: $grid * 3;
  width: 100%;
}

.thumbnail {
  background: $darker-color;
  height: $thumbnail-size;
  width: $thumbnail-size;
}
