$left-padding: $grid * 4;

.wrapper {
  position: relative;
  padding-left: $left-padding;

  &::before {
    $bar-width: $grid / 2;
    background: $accent-color;
    width: $bar-width;
    height: 100%;
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: $left-padding - $bar-width / 2;
  }
}

.project {
  padding-left: $grid * 4;
  position: relative;
  margin-bottom: $grid * 6;

  p {
    font-size: .9em;
  }
}

.icon {
  $size: $grid * 5;
  width: $size;
  height: $size;
  border-radius: 50%;
  background: $dark-color;
  border: $accent-color $grid / 2 solid;
  position: absolute;
  top: 0;
  left: $size / -2;
  box-sizing: border-box;
}
