@import 'const/colors';
@import 'const/dimensions';
@import 'const/fonts';

html,
body {
  background: $primary-bg-color;
  border: 0;
  color: $primary-fg-color;
  font: $body-font-size $font-family;
  height: 100%;
  margin: 0;
  padding: 0;
  width: 100%;
}

a {
  color: $link-fg-color;
  display: inline-block;
  position: relative;
  text-decoration: none;

  &::after {
    $height: $grid / 4;
    background: $accent-color;
    border-radius: $height / 2;
    bottom: $height * -1;
    content: '';
    display: block;
    height: $height;
    left: 0;
    position: absolute;
    transform: scaleX(0);
    transform-origin: right;
    transition: transform 0.2s linear 0s;
    width: 100%;
  }

  &:not(.disabled):hover::after,
  &:not(.disabled):active::after {
    transform: scaleX(1);
    transform-origin: left;
  }

  &:focus {
    background: $secondary-bg-color;
    border-radius: $grid / 4;
    color: $accent-color;
    outline: none;
  }
}

/**********
 * Layout *
 **********/

body {
  display: flex;
  flex-direction: column;

  &.about {
    @import 'views/about';
  }

  &.home {
    @import 'views/home';
  }
}

nav {
  box-sizing: border-box;
  display: flex;
  justify-content: flex-end;
  font-size: $nav-font-size;
  flex-shrink: 0;
  padding: $grid * 6;

  a {
    display: block;
    margin-left: $grid * 3;
  }

  .disabled {
    color: $primary-fg-color;
  }
}

main {
  box-sizing: border-box;
  flex-grow: 1;
  justify-self: center;
  margin: auto;
  max-width: $max-width;
  padding: $grid * 3 $grid * 6 $grid * 18;
  width: 100%;
}

/********************
 * Highlight color. *
 ********************/

*::selection {
  background: rgba($secondary-bg-color, .99);
  color: $accent-color;
}

*::-moz-selection {
  background: rgba($secondary-bg-color, .99);
  color: $accent-color;
}
