@import 'const/colors';
@import 'const/dimensions';
@import 'const/fonts';

html,
body {
  background: $primary-bg-color;
  border: 0;
  color: $primary-fg-color;
  font: $body-font-size $font-family;
  height: 100%;
  margin: 0;
  padding: 0;
  width: 100%;
}

a {
  color: $link-fg-color;
  text-decoration: none;
}

/**********
 * Layout *
 **********/

body {
  display: flex;
  flex-direction: column;

  &.about {
    @import 'views/about';
  }

  &.home {
    @import 'views/home';
  }
}

nav {
  box-sizing: border-box;
  display: flex;
  justify-content: flex-end;
  font-size: $nav-font-size;
  flex-shrink: 0;
  padding: $grid * 6;

  a {
    display: block;
    margin-left: $grid * 3;
  }
}

main {
  box-sizing: border-box;
  flex-grow: 1;
  justify-self: center;
  margin: auto;
  max-width: $max-width;
  padding: $grid * 3 $grid * 6 $grid * 18;
  width: 100%;
}
